/* /sites/praxisproject/src/styles/global.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url('../assets/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

main {
  flex: 1;
}

/* woodworking theme */
body.woodworking {
  background-image: url('../assets/bg-wood.jpg');
}

body.woodworking header {
  background-color: rgba(50, 25, 0, 0.5);
}

body.woodworking h1 {
  background-color: rgba(101, 67, 33, 0.25);
}

body.woodworking .card {
  background-color: rgba(210, 180, 140, 0.25);
}

/* gardening theme */
body.gardening {
  background-image: url('../assets/bg-garden.jpg');
  /* background-color: rgba(52, 128, 58, 0.5); */
}

body.gardening header {
  background-color: rgba(20, 50, 20, 0.5);
}

body.gardening h1 {
  background-color: rgba(34, 85, 34, 0.25);
}

body.gardening .card {
  background-color: rgba(144, 190, 144, 0.25);
}